.contact-section {
  padding-inline: 100px;
  padding-block: 20px 70px;
  background-color: #10293C;
  color: #fff;
}

.contact-section h2 {
  font-size: 35px;
  margin-bottom: 10px;
  font-weight: 500;
  text-align: center; 
  color: var(--main-color);
}

.align{
  display: flex;
  justify-content: center;
}

.underline {
  width: 270px;
  height: 1px;
  background-color: var(--main-color);
  position: relative;
 margin-bottom: 28px;
}

.underline::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--main-color);
  border-radius: 50%;
  top: -4px;
  left: 50%;
  transform: translateX(-50%);
  animation: pulse 1.5s infinite;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  width: 100%; 
  max-width: 1200px; 
  margin: 0 auto; 
  padding-inline: 20px; 
}

.contact-info, .contact-form {
  padding: 20px;
  background-color: var(--background-color);
  border: 3px solid var(--border-color);
  border-radius: 8px;
  box-sizing: border-box; 
}

.contact-info {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-right: 5%;
}

.info-box {
  margin-bottom: 20px; 
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 10px; 
}

.info-box:last-child {
  border-bottom: none;
}

.info-box h3 {
  margin-bottom: 10px;
  color: var(--main-color);
}

.contact-form {
  width: 65%;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 8px; 
  margin-bottom: 15px; 
  border: 2px solid var(--border-color); 
  border-radius: 4px; 
  background-color: #304255;
  color: #fff;
  box-sizing: border-box;
  outline: none;
}

.contact-form input {
  height: 50px; 
}

.contact-form textarea {
  height: 120px; 
}

.contact-form input::placeholder, .contact-form textarea::placeholder {
  color: #bbb;
}

.contact-form button {
  padding: 8px 16px; 
  border: 2px solid var(--main-color);
  background: none;
  border-radius: 50px;
  width: 150px; 
  height: 40px; 
  text-align: center;
  color: var(--main-color);
  font-size: 14px; 
  cursor: pointer;
  margin-top: 20px; 
  transition: background-color 0.3s, color 0.3s;
}

.contact-form button:hover {
  background-color: var(--main-color);
  color: white;
}


@media screen and (max-width: 1024px) {
  .contact-section {
    padding: 20px;
  }

  .contact-container {
    flex-wrap: wrap; 
    justify-content: center; 
    padding-inline: 0; 
  }

  .contact-info, .contact-form {
    width: 100%; 
    margin-right: 0; 
    margin-bottom: 20px; 
  }

  .contact-section h2 {
    font-size: 30px; 
  }
}

@media screen and (max-width: 700px) {
  .contact-section {
    padding: 20px;
  }

  .contact-container {
    flex-direction: column; 
    align-items: center; 
  }

  .contact-section h2 {
    font-size: 25px; 
    color: var(--main-color);
  }

  .contact-info, .contact-form {
    width: 90%; 
  }

  .contact-form input, .contact-form textarea {
    margin-bottom: 15px; 
  }

  .contact-form input {
    height: 50px; 
  }
}
